on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows
    steps:
      - name: Setup Python
      - uses: actions/setup-python@v5
        with:
          node-version: '20.x'
